

#container {
    min-height: 200px;
    height: 50vh;
    min-width: 200px; 
    max-width: 800px; 
    margin: 0 auto; 
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

#insert {
	width: 100%;
}

#select {
	top: 10px;
	display: table;
	margin: 0 auto;
}

.vizitky {
	margin-top: 25px;
	max-width: 700px;
}

.vizitky h1 {
	font-size: 24px;
	color: #ab0000;
	margin: 0 0 25px 0;
}

.vizitky ul {
	list-style-type: none !important;
	padding: 0;
	margin: 0;
	width: 100%;
	max-width: 800px;
}

.vizitky li {
	padding-left: 0px !important;
}

.vizitky ul li {
	background: none !important;
	display: flex;
	flex-direction: row;
	margin-bottom: 15px;
	width: 100%;
}

.vizitky ul li .left {
	line-height: 0;
	order: 1;
	min-height: 180px;
}

.vizitky ul li .right {
	position: relative;
	order: 2;
	padding-left: 15px;
	flex-grow: 1;
	background: rgba(254,255,255,0.5);
	background: linear-gradient(to right, rgba(255,255,255,0) 0px, #fff 15px);
}

.vizitky ul li h2 {
	font-size: 22px;
	font-weight: bold;
	margin: 0 0 9px 0;
	line-height: 1em;
	color: #036;
	position: relative;
	padding-left: 28px;
}

.vizitky ul li h2 .cislo {
	position: absolute;
	top: 0;
	left: 0;
	width: 19px;
	height: 19px;
	line-height: 19px;
	background: #036;
	color: #fff;
	font-size: 10px;
	border-radius: 50%;
	text-align: center;
}

.vizitky ul li .strana {
	display: block;
	color: #333;
	font-size: 13px;
}

.vizitky ul li .supplemental,
.vizitky ul li img {
	width: 120px;
	height: auto;
}

.vizitky ul li audio {
	position: absolute;
	bottom: 0;
	left: 15px;
	width: 100%;
}

.share {
  margin-top: 5px;
  display: block;
  color: #333;
  font-size: 13px;
}
.share {
  font-size: 12px;
}

.is-share .vizitky {
	order: 1;
	margin-top: 0;
}

.is-share .invitation {
	order: 2;
	margin-bottom: 10px;
}

.is-share .mapka {
	order: 3;
}

